@page "/login"


@* <Header /> - Không cần nữa vì trong App.razor phần <Route> đã thêm DefaultLayout="typeof(HomePageMaster)" để dùng chung layout của HomePageMaster rồi *@
<h1>Đây là trang Đăng Nhập</h1>